@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; /* Assim faz com padding seja anexado na sua altura e largura e não somado, Se tiver um 
  elemento com 200px e colocar um padding de 20 nas laterais o elemento vai ficar com 160px e não 240px  */
}


body{
  font: 400 14px Roboto, sans-serif;
  background-color: #f0f0f5;
  -webKit-font-smothig: antialiased; /*Melhora a vizualização*/

}

input, button,textarea {
  font: 400 18px Roboto, sans-serif; /*Repito  a font por que de padrão eles não pegam a font do body*/
}


button {
  cursor: pointer; /*Cursor com icone para clicar*/
}

form input{
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}


form textarea{
  width: 100%;
  resize: vertical;
  min-height:140px;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;

}


.button{
 width: 100%;
 height: 60px; 
 background-color:#e02041;
 border: 0;
 border-radius: 8px;
 color: #FFF;
 font-weight: 700;
 margin-top: 16px;
 display: inline-block;
 text-align: center;
 text-decoration: none;
 font-size: 18px;
 line-height: 60px;
 transition: filter 0.2s;

}


button:hover{
  filter: brightness(90%);
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacit 0.2s;
}

.back-link svg{ /*Icones no react são semrpe svg*/ 
  margin-right: 8px;
}

.back-link:hover{
  opacity: 0.8;
}